[workspace]

[package]
name = "secop"
version = "0.1.1"
authors = ["Georg Brandl <g.brandl@fz-juelich.de>",
           "Enrico Faulhaber <enrico.faulhaber@frm2.tum.de>"]
edition = "2018"

[dependencies]
log = "0.4"
clap = "2.32"
mlzlog = "0.5"
mlzutil = "0.1"
daemonize = "0.3"
signal-hook = "0.1"

[dependencies.secop-core]
path = "core"

[dependencies.secop-modules]
path = "modules"
